body
{
	margin: 0;
	padding: 0;
	font-family: 'Francois One', sans-serif;
}

nav{
    color: white;

}

.ul nav{
    color: aqua;
}

.nav-item a {
    color: #FFF !important;
}

.nav-item.active a {
    border-bottom: 2px solid white;
}

.carousel {
    top: 1px;
    padding: 1px;
    margin: 15px;
    border: 10px;

}



.card {
    height: 50%;
    margin: 15px;
    padding: 10 px;
}

    .card-title {
        display: grid;
        width: 100%;
        text-align: left;
        font-size: 15px;
        margin: 0 auto;
        color: black;
    }

.page-footer {
    color: aliceblue;
}


.footer-list li a {
    padding: 0;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 600px) {
    .body,.nav-item,.card,.carousel, .page-footer,.card-group ,.new-img{
      width: 100% !important; 
      height: 100% !important;/* The width is 100%, when the viewport is 800px or smaller */
    }
  }